<section class="post">
  <h3 class="name"><%= link_to post.user.name, current_user == post.user ? profile_path : profiles_path(id: post.user) %></h3>
  <hr>
  <p class="body"><%= post.body %></p>
  <%= link_to post.created_at.strftime('%m-%d-%Y %l:%M%P'), post_path(post) %>
  <% if post.belongs_to_user?(current_user) %>
    <%= link_to 'Edit', edit_post_path(post) %>
  <% end %>
  <section class="likes">
  <%= render partial: 'likes/like', locals: { post: post, comment: false } %>
  </section>

  <section class="comment-section">
    <section class="create-comment">
      <%= render partial: 'comments/create_comment', locals: { post: post }%>
    </section>
    <section class="comments">
      <%= render partial: 'comments/comments', locals: { post: post } %>
    </section>
  </section>
</section>
