<section class="post">
  <h3 class="name"><%= link_to post.user.name, current_user == post.user ? profile_path : user_profile_path(id: post.user) %></h3>
  <hr>
  <p class="body"><%= post.body %></p>
  <%= link_to post.created_at.strftime('%m-%d-%Y %l:%M%P'), post_path(post) %>
  <% if post.belongs_to_user?(current_user) %>
    <%= link_to 'Edit', edit_post_path(post) %>
  <% end %>
  <section class="likes">
  <% unless post.liked?(current_user) %>
  <%= link_to 'Like', post_likes_path(post), method: :post %>
  <% else %>
  <%= link_to 'Unlike', post_like_path(post, current_user), method: :delete %>
  <% end %>
  <span><%= link_to pluralize(post.likes.count, 'like'), post_likes_path(post) %>.</span>
  </section>
</section>
